{% extends "Layout.twig" %}

{% block style %}

{% endblock %}

{% block content %}
{# 
<div class="row justify-content-around">
    <div class="col-4 box">
        <h1>Administrateur</h1>
        <hr>
        <a href="{{ path_for('createAdmin') }}" class="btn btn-outline-success btn-sm">
            Nouvel administrateur
        </a>
        <a href="{{ path_for('admins') }}" class="btn btn-outline-warning btn-sm">
            Gestion des administrateurs
        </a>
    </div>
    <div class="col-4 box">
        <h1>Vente</h1>
        <hr>
        <hr>
        <a href="{{ path_for('createVente') }}" class="btn btn-outline-success btn-sm">
            Nouvel enchère
        </a>
        <a href="{{ path_for('ventes') }}" class="btn btn-outline-warning btn-sm">
            Gestion des enchères
        </a>
    </div>
    <br>
    <div class="col-4 box">
        <h1>Conversation</h1>
        <hr>
        <hr>
        <a href="{{ path_for('conversations') }}" class="btn btn-outline-warning btn-sm">
            Sujets de conversations
        </a>
    </div>
    <div class="col-4 box">
        <h1>FAQ</h1>
        <hr>
        <hr>
        <a href="{{ path_for('createFaq') }}" class="btn btn-outline-success btn-sm">
            Nouvel faq
        </a>
        <a href="{{ path_for('faqs') }}" class="btn btn-outline-warning btn-sm">
            Gestion des faqs
        </a>
    </div>
    <div class="col-4 box">
        <h1>Particuler</h1>
        <hr>
        <hr>
        <a href="{{ path_for('particuliers') }}" class="btn btn-outline-warning btn-sm">
            Gestion des particuliers
        </a>
    </div>
    <div class="col-4 box">
        <h1>Entreprise</h1>
        <hr>
        <hr>
        <a href="{{ path_for('entreprises') }}" class="btn btn-outline-warning btn-sm">
            Gestion des entreprises
        </a>
    </div>
    <div class="col-4 box">
        <h1>Mentions légales</h1>
        <hr>
        <hr>
        <a href="{{ path_for('createMention') }}" class="btn btn-outline-success btn-sm">
            Nouveau chapitre mention légale
        </a>
        <a href="{{ path_for('mentions') }}" class="btn btn-outline-warning btn-sm">
            Gestion des mentions légales
        </a>
        <a href="{{ path_for('mentionpage') }}" class="btn btn-outline-warning btn-sm">
            Page mention légale 
        </a>
    </div>
    <div class="col-4 box">
        <h1>Guide</h1>
        <hr>
        <hr>
        <a href="{{ path_for('createGuide') }}" class="btn btn-outline-success btn-sm">
            Nouveau guide
        </a>
        <a href="{{ path_for('guides') }}" class="btn btn-outline-warning btn-sm">
            Gestion des guides
        </a>
        <a href="{{ path_for('guidepage') }}" class="btn btn-outline-warning btn-sm">
            Page guide
        </a>
    </div>
    <div class="col-4 box">
        <h1>Information site</h1>
        <hr>
        <hr>
        <a href="{{ path_for('informationsite') }}" class="btn btn-outline-warning btn-sm">
            Gestion du site 
        </a>
    </div>
     <div class="col-4 box">
        <h1>Marque</h1>
        <hr>
        <hr>
        <a href="{{ path_for('createMarque') }}" class="btn btn-outline-success btn-sm">
            Nouvelle marque
        </a>
        <a href="{{ path_for('marques') }}" class="btn btn-outline-warning btn-sm">
            Gestion des marques
        </a>
    </div>
    <div class="col-4 box">
        <h1>Categorie</h1>
        <hr>
        <hr>
        <a href="{{ path_for('createCategorie') }}" class="btn btn-outline-success btn-sm">
            Nouvelle categorie
        </a>
        <a href="{{ path_for('categories') }}" class="btn btn-outline-warning btn-sm">
            Gestion des categories
        </a>
    </div>
     <div class="col-4 box">
        <h1>Option</h1>
        <hr>
        <hr>
        <a href="{{ path_for('createOption') }}" class="btn btn-outline-success btn-sm">
            Nouvelle option
        </a>
        <a href="{{ path_for('options') }}" class="btn btn-outline-warning btn-sm">
            Gestion des options
        </a>
    </div>
    <div class="col-4 box">
        <h1>Representation de voiture</h1>
        <hr>
        <hr>
        <a href="{{ path_for('createRepresentation') }}" class="btn btn-outline-success btn-sm">
            Nouvelle representation
        </a>
        <a href="{{ path_for('representations') }}" class="btn btn-outline-warning btn-sm">
            Gestion des representations de voitures
        </a>
    </div>
    <div class="col-4 box">
        <h1>Voiture</h1>
        <hr>
        <hr>
        <a href="{{ path_for('createVoiture') }}" class="btn btn-outline-success btn-sm">
            Nouvelle voiture
        </a>
        <a href="{{ path_for('voitures') }}" class="btn btn-outline-warning btn-sm">
            Gestion des voitures
        </a>
    </div>
</div> #}
{% endblock %}