{% extends "Layout.twig" %}

{% block style %}
<link rel="stylesheet" href="/assets/css/gestion_sequence.css">
<style>
    .notification{
      position: fixed;
      bottom: 0;
      left:0;
      width: 100%;
    }
  </style>
{% endblock %}

{% block content %}
<div id="notification_block" class="notification" style="z-index: 999;display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="hideNotification()">
        <span aria-hidden="true">&times;</span>
    </button>
    <p></p>
</div>

<h1>Gestion des utilisateurs</h1>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th style="width: 25%;">Nom complet</th>
            <th style="width: 25%;">Adresse mail</th>
            <th style="width: 40%;">Token</th>
            <th style="width: 5%;"></th>
            <th style="width: 5%;"></th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
            <tr>
            <td class="panel_fullnameUtilisateur"><span class="editable">{{ user.fullname }}</span></td>
            <td class="panel_emailUtilisateur"><span class="editable">{{ user.email }}</span></td>
            <td class="panel_tokenUtilisateur"><span class="editable">{{ user.token }}</span></td>
            </td>

            <td class="panel_update">
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editUser_{{ user.id }}">
                    <i class="far fa-edit"></i>
                </button>
                <div class="modal fade exampleModalClass" id="editUser_{{ user.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="editUserLabel_{{ user.id }}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="editUserLabel_{{ user.id }}">Modifier l'utilisateur</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span
                                        aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label class="control-label">Nom complet :</label>
                                        <input type="text" value="{{ user.fullname }}"
                                            class="form-control update_fullnameUtilisateur">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Adresse mail utilisateur :</label>
                                        <input type="text" value="{{ user.email }}"
                                            class="form-control update_emailUtilisateur">
                                    </div>
                                    <div class="form-group">
                                        <label for="token_user" class="form-label">Rôle</label>
                                            <select name="token_user" id="token_user" class="form-control update_tokenUtilisateur">
                                                <option value="0" selected>Non</option>
                                                <option value="1">Oui</option>
                                            </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-dark" onclick="updateUser({{ user.id }}, this)">Modifier
                                    l'utilisateur</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

            <td class="panel_delete">
                <input type="button" value="Supprimer" class="btn btn-danger delCompteBtn" data-toggle="modal"
                    data-target="#deleteUser{{ user.id }}">
                <div class="modal fade" id="deleteUser{{ user.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="deleteUserLabel_{{ user.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="deleteUserLabel_{{ user.id }}">Supprimer un utilisateur :</h4>
                            </div>
                            <div class="modal-body">
                                <p>Êtes-vous sûr de vouloir supprimer l'utilisateur : {{ user.fullname }} ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-danger btn-ok"
                                    onclick="deleteUser({{ user.id }}, this)">Supprimer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
function hideNotification() {
    $('#notification_block').fadeOut('500', () => {
        $('#notification_block').removeClass();
    });
}

function showNotification(libelle_bootstrap, message) {
    hideNotification();
    $('#notification_block p').text(message)
    $('#notification_block').addClass("notification")
    $('#notification_block').addClass('alert alert-' + libelle_bootstrap)
    $('#notification_block').fadeIn('500');
}

function deleteUser(id, leBtn) {
    let model = $(leBtn).parents().closest('.modal');
    let lineDelet = $(leBtn).parents().closest('tr');

    let http = new XMLHttpRequest();
    let params =
        'id=' + id;
    http.open('POST', '{{ path_for('userDelete') }}', true);

    http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    http.onreadystatechange = function () {
        if (http.readyState == 4 && http.status == 200) {
            if (http.responseText == 'success') {
                $(model).modal('hide');
                showNotification('success', "L'utilisateur a bien été supprimé.");
                $(lineDelet).hide('slow', function () {
                    $(lineDelet).remove();
                });
            } else {
                showNotification('danger', 'Erreur : ' + http.responseText);
            }
        }
    }
    http.send(params);
}

function updateUser(id, leBtn) {
    let bodyModal = $(leBtn).parent().prev('.modal-body');
    let fullname = $(bodyModal).find('.update_fullnameUtilisateur').val();
    let email = $(bodyModal).find('.update_emailUtilisateur').val();
    let token = $(bodyModal).find('.update_tokenUtilisateur').val();

    if (id, fullname, email, token) {
        let model = $(leBtn).parents().closest('.modal');
        let lineUpdate = $(leBtn).parents().closest('tr');
        let http = new XMLHttpRequest();

        let params =
            'id=' + id +
            '&newFullname=' + fullname +
            '&newEmail=' + email +
            '&newToken=' + token;
        http.open('POST', '{{ path_for('userUpdate') }}', true);

        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        http.onreadystatechange = function () {
            if (http.readyState == 4 && http.status == 200) {
                  console.log(http.responseText);
                if (http.responseText == 'success') {
                    $(lineUpdate).find('.panel_fullnameUtilisateur').text(fullname);
                    $(lineUpdate).find('.panel_emailUtilisateur').text(email);
                    $(lineUpdate).find('.panel_tokenUtilisateur').text("Rechargez la page");

                    $(model).modal('hide');
                    showNotification('success', "Succès : L'utlisateur " + fullname + " a bien été modifié.");
                } else {
                    showNotification('danger', 'Erreur : ', http.responseText);
                }
            }
        }
        http.send(params);
    } else {
        alert("Une erreur est survenue : des champs sont manquants, introuvable, ou incomplet \n\rSi le problème persiste actualisez la page ou contacter l'administrateur du site");
    }
}
</script>
{% endblock %}